<div id='left'>
<?php $uid=$_GET['id'] ?>
<userinfo uid="$uid">
	<div class='userinfo'>
			<dl>
				<dt>
					<a href="{:U('Member/index',array('id'=>$_GET['id']))}"><img src="{$face}" width='48' height='48' alt="占位符"/></a>
				</dt>
				<dd class='username'>
					<a href="{:U('Member/index',array('id'=>$_GET['id']))}"><b>{$nickname}</b>
					</a>
					<a href="{:U('Member/index',array('id'=>$_GET['id']))}">
						<i class='level lv{$level}' title='Level{$level}'></i>
					</a>
				</dd>
				<dd>金币：<a href="{:U('Member/mygold',array('id'=>$_GET['id']))}" style="color: #888888;"><b class='point'>{$point}</b></a></dd>
				<dd>经验值：{$exp}</dd>
			</dl>
			<table>
				<tr>
					<td>回答数</td>
					<td>采纳率</td>
					<td class='last'>提问数</td>
				</tr>
				<tr>
					<td><a href="{:U('Member/myanswer',array('id'=>$_GET['id']))}">{$answer}</a></td>
					<td><a href="">{$adopt}</a></td>
					<td class='last'><a href="{:U('Member/myask',array('id'=>$_GET['id']))}">{$ask}</a></td>
				</tr>
			</table>
		</div>
</userinfo>
	<ul>
		<li class='myhome <if condition="ACTION_NAME eq 'index'">cur</if>'>
			<a href="{:U('Member/index',array('id'=>$_GET['id']))}">{$role}的首页</a>
		</li>
		<li class='myask <if condition="ACTION_NAME eq 'myask'">cur</if>'>
			<a href="{:U('Member/myask',array('id'=>$_GET['id']))}">{$role}的提问</a>
		</li>
		<li class='myanswer <if condition="ACTION_NAME eq 'myanswer'">cur</if>'>
			<a href="{:U('Member/myanswer',array('id'=>$_GET['id']))}">{$role}的回答</a>
		</li>
		<li class='mylevel <if condition="ACTION_NAME eq 'mylevel'">cur</if>'>
			<a href="{:U('Member/mylevel',array('id'=>$_GET['id']))}">{$role}的等级</a>
		</li>
		<li class='mygold <if condition="ACTION_NAME eq 'mygold'">cur</if>'>
			<a href="{:U('Member/mygold',array('id'=>$_GET['id']))}">{$role}的金币</a>
		</li>
		<if condition="$_GET['id'] eq session('uid')">
			<li class='myface <if condition="ACTION_NAME eq 'myface'">cur</if>'>
				<a href="{:U('Member/myface',array('id'=>$_GET['id']))}">上传头像</a>
			</li>
		</if>
		<li style="background:none"></li>
	</ul>
</div>