<include file="Common:header" />
	<link rel="stylesheet" href="__CSS__/index.css" />
	<script type="text/javascript" src='__JS__/index.js'></script>
</head>
<body>
	<include file="Common:top" />
	<div class='main'>
		<div id='left'>
			<p class='left-title'>所有问题分类</p>
			<ul class='left-list'>
			<foreach name="cate" item="v">
				<li class='list-l1'>
					<div class='list-l1-wrap'>
						<h4><a href="{:U('Index/List/index',array('id'=>$v['cid']))}">{$v.name}</a></h4>
						<ul class='list-l2'>
							<li>
							<for start="0" end="3" name="i">
								<a href="{:U('Index/List/index',array('id'=>$v['child'][$i]['cid']))}">{$v['child'][$i]['name']}</a>&nbsp;&nbsp;&nbsp;
							</for>
							</li>
						</ul>
					</div>

					<div class='list-more hidden'>
						<ul>
							<for start="3" end="count($v['child'])" name="i">
								<li><a href="{:U('Index/List/index',array('id'=>$v['child'][$i]['cid']))}">{$v['child'][$i]['name']}</a></li>
							</for>
						</ul>
					</div>
				</li>
				</foreach>
			</ul>
		</div>

		<div id='center'>
			<div id='animate'>
				<div class='imgs-wrap'>
					<ul>
						<li>
							<a href=""><img src="__IMAGE__/animate1.jpg" width='558' height='190'/></a>
						</li>
						<li>
							<a href=""><img src="__IMAGE__/animate2.jpg" width='558' height='190'/></a>
						</li>
						<li>
							<a href=""><img src="__IMAGE__/animate3.jpg" width='558' height='190'/></a>
						</li>
					</ul>
				</div>
				<ul class='ani-btn'>
					<li class='ani-btn-cur'>0学费学习<i></i></li>
					<li>超百G原创视频<i></i></li>
					<li style='border:none'>有实力做后盾<i></i></li>
				</ul>
			</div>

			<dl class='answer-list'>
				<dt>
					<span class='wait-as'>待解决问题</span>
					<a href=''>更多>></a>
				</dt>
				<foreach name="wait" item="v">
				<dd>
					<a href="{:U('Show/index',array('aid'=>$v['aid']))}">{$v.content}</a>
					<span>{$v.answer}</span>
				</dd>
				</foreach>
			</dl>

			<dl class='answer-list'>
				<dt>
					<span class='reward-as'>高分悬赏问题</span>
					<a href=''>更多>></a>
				</dt>
				<foreach name="rewards" item="v">
				<dd>
					<a href=""><b>{$v.reward}</b>{$v.content}</a>
					<span>{$v.answer}回答</span>
				</dd>
				</foreach>
			</dl>

		</div>
		<!-- 右侧 -->
		<include file='Common:right'/>
<!-- ---右侧结束---- -->
	</div>
<!--------------------内容主体结束-------------------->
	<div class='clear'></div>
<include file="Common:foot" />	
